{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Livre edit</h3>
            </div>
            <div class="card-body">
                {{ form_start(edit_form) }}
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom : </label>
                    {{ form_widget(edit_form.nom, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Discreption : </label>
                    {{ form_widget(edit_form.resume, { 'attr': {'class': 'form-control','rows':'5'} }) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Auteur : </label>
                    {{ form_widget(edit_form.auteur, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Nombre De Page : </label>
                    {{ form_widget(edit_form.nbDePages, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Editeur : </label>
                    {{ form_widget(edit_form.editur, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Photo : </label>
                    {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                <br>

            </div>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-primary btn-block btn-danger">Delete</button>
            {{ form_end(delete_form) }}

        </div>
        <!-- /.card -->

    </section>
{% endblock %}
