{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Livre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livre.nom }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ livre.resume }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ livre.photo }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Nbdepages</th>
                <td>{{ livre.nbDePages }}</td>
            </tr>
            <tr>
                <th>Editur</th>
                <td>{{ livre.editur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('livre_edit', { 'id': livre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
